@import "commons"

footer.site-footer
  position relative
  text-align center
  line-height 1.8
  padding-top 1rem
  color $secondaryColor

  a
    color $mainColor

  .site-info
    color $secondaryColor
    font-size: 1.3rem
    margin 0.5rem 0